@import "src/styles/variables";
@import "src/styles/mixins";

.item {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 0 15px;
  padding: 25px;
  transition: all .2s ease-out;
  letter-spacing: -.2px;
  border: 1px solid $gray;
  border-radius: $border-radius;
  outline: none;
  background: $gray-light;
  font-family: $font-headings;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;

  appearance: none;

  &:hover {
    cursor: pointer;
    border-color: $brand-primary;
    background: darken($gray-light, 1%);
  }
}

.img {
  width: 40px;
  margin-right: 25px;
}

.date,
.updated {
  display: block;
  margin: 10px 0 0;
  font-size: 14px;
  line-height: 18px;
}

.updated {
  margin: 0 0 0 auto;
  color: $brand-primary;
}
