@import "~styles/variables";
@import "~include-media/dist/include-media";

.container {
  width: 25%;
  padding-right: 30px;

  @include media("<md") {
    width: 100%;
    padding-right: 0;
  }
}

.repoItem {
  font-size: 14px;

  > span {
    display: none;
  }
}
