// fonts

$font-base: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;
$font-headings: "Heebo", $font-base;

// colors

$gray: #eee;
$gray-light: #f6f8ff;
$brand-primary: #3056ba;
$brand-dark: #1b2c48;
$brand-error: #f16060;
// options

$border-radius: 10px;
