@import "~styles/variables";
@import "~styles/mixins";
@import "~include-media/dist/include-media";

.container {
  @include container;
  display: flex;
  flex-direction: row;
  margin-top: 50px;

  @include media("<md") {
    flex-direction: column;
  }
}

.main {
  flex: 1;

  @include media("<md") {
    order: -1;
  }
}

.pageTitle {
  @include pageTitle;
}

.code {
  color: $brand-dark;
}

.input {
  flex: 1;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.button {
  @include button;
}
