@import "src/styles/variables";
@import "src/styles/mixins";

.container {
  @include container;
  margin-top: 50px;
}

.pageTitle {
  @include pageTitle;
}

.input {
  flex: 1;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.button {
  @include button;
}
