@import "src/styles/variables";
@import "src/styles/mixins";

.header {
  background: $gray-light;
}

.container {
  @include container;
  display: flex;
  align-items: center;
}

.button {
  @include button;
  margin-left: auto;
}
